
<div class="container">
        <div class="raw">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <img class="img-responsive" src="{{ asset('bundles/questionnairequestionnaire/images/questionnaire_logo.png') }}" />
                </div>
                <div class="navbar-collapse collapse navbar-right" style="font-size: 30px;margin-top: 40px;padding-left: 5px;">
                    <ul class="navbar-nav nav">
                        <li ><a href="{{ path('questionnaire') }}">Questionnaire</a></li>
                        <li><a href="{{ path('question') }}">Question</a></li>
                        <li><a href="{{ path('caller') }}">Participant</a></li>
                        
                    </ul>
                    
                </div>
            
            </nav>
        </div>
    </div>