{% include 'questionnaireQuestionnaireBundle:Layout:base.html.twig' %}
{% block body -%}
<div class="container">
 <div class="raw">
  <div class="col-md-8" style="color:#c12e2a">
    <h1>S'inscrire pour participer a note questionnaire</h1>
  </div>
  
  </div>
  <div class="raw">
   <div class="col-md-12" >     
    {{ form(form) }}

       
</div>
</div>
</div>

{% endblock %}
